global_defs {
  default_interface {{ hostvars[inventory_hostname].ansible_facts['default_ipv4'].interface }}
}

vrrp_instance VI_1 {
  interface {{ hostvars[inventory_hostname].ansible_facts['default_ipv4'].interface }}

  state BACKUP
  virtual_router_id 51
  priority 100
  nopreempt

  unicast_peer {
    {% for host in groups['kube_control_plane'] -%}
    {{ hostvars[host]['access_ip'] | default(hostvars[host]['ip'] | default(fallback_ips[host])) }}
    {% endfor -%}
  }

  virtual_ipaddress {
    {{ loadbalancer_apiserver.address }}
  }

  authentication {
    auth_type PASS
    auth_pass d0cker
  }

  notify "/container/service/keepalived/assets/notify.sh"
}
